# Default ignored files
/../../URLaViews /.idea/shelf/
/../../URLaViews /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../URLaViews /.idea/httpRequests/
# Datasource local storage ignored files
/../../URLaViews /.idea/dataSources/
/../../URLaViews /.idea/dataSources.local.xml
