{% extends 'base.html' %}

{% block page_content %}
    <form method="POST" class="form auth">
        {% csrf_token %}
         <div class="form-field">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div >

         <div class="form-field">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div >
        
          {% if form.is_bound and form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button>Login</button>
        <p>Don't have an account?<a href="{% url 'register' %}">Register</a> </p>
    </form>
{% endblock %}